.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: green;
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    margin-left: 250px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: red;

}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    margin-left: 500px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-color: yellow;
}